* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --grey-50: #f4f6fa;
  --grey-500: #626c7f;

  /* Blues */
  --blue-50: #ebf0ff;
  --blue-100: #edf1f9;
  --blue-300: #abc1e1;
  --blue-500: #306aff;
  --blue-850: #3b4d66;
  --blue-900: #313e51;
  --blue-950: #2d3949;
}

body {
  background-color: var(--blue-100);
}
