* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Grey */
  --grey-50: #f4f6fa;
  --grey-500: #626c7f;

  /* Blues */
  --blue-50: #ebf0ff;
  --blue-100: #edf1f9;
  --blue-300: #abc1e1;
  --blue-500: #306aff;
  --blue-850: #3b4d66;
  --blue-900: #313e51;
  --blue-950: #2d3949;

  /*Green  */
  --green-500: #2fd887;
  --green-100: #e0feef;

  /* Purple */
  --purple-600: #a729f5;
  --purple-100: #f6efff;

  /* Orange */
  --orange-400: #ff7e35;
  --orange-50: #fff5ed;

  /* Red */
  --red-500: #ee5454;
}

body {
  position: relative;
  background-color: var(--grey-50);
  min-height: 100vh;
  z-index: 1;

  flex-direction: column;
}

body.dark {
  background-color: var(--blue-900);
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/img/pattern-background-desktop-dark.svg") no-repeat top
    center / cover;
  z-index: -1;
}
body.dark::before {
  background: url("/img/pattern-background-desktop-light.svg") no-repeat top
    center / cover;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.access-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 167px;
  height: 40px;
}

.access-icon img {
  width: auto;
  height: 100%;
  display: block;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  /* padding: 16px; */
}

.icon {
  font-size: 18px;
  color: #6b7280;
  height: 100%;
}

/* Switch */
.switch {
  position: relative;
  width: 32px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #a729f5;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

/* Checked state */
.switch input:checked + .slider::before {
  transform: translateX(12px);
}

.img-sun {
  content: url("/img/icon-sun-dark.svg");
  height: 100%;
}
.img-moon {
  content: url("/img/icon-moon-dark.svg");
  height: 100%;
}

.img-sun.dark {
  content: url("/img/icon-sun-light.svg");
}
.img-moon.dark {
  content: url("/img/icon-moon-light.svg");
}
.switch input:checked .img-sun {
  content: url("/img/icon-sun-light.svg");
}

.quiz-con {
  background-color: #306aff;
  height: 740px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-con .sec1 {
  width: 100%;
  height: 50%;
  background-color: #2fd887;
}
.quiz-con .sec2 {
  width: 100%;
  height: 50%;
  background-color: #a729f5;
}

@media (min-width: 700px) {
  main {
    padding: 40px 64px;
    gap: 49px;
  }
  .head {
    width: 640px;
  }
  .access-icon {
    width: 253px;
    height: 56px;
  }
  .theme-toggle {
    height: 24px;
  }
  .switch {
    width: 48px;
    height: 28px;
  }
  .slider::before {
    height: 22px;
    width: 22px;
    left: 3px;
    top: 3px;
  }
  .switch input:checked + .slider::before {
    transform: translateX(20px);
  }

  .quiz-con {
    width: 640px;
    height: 670px;
  }
}

@media (min-width: 1160px) {
  main {
    gap: 85px;
  }
  .head {
    width: 1157px;
  }
  .quiz-con {
    width: 1157px;
    height: 464px;
    flex-direction: row;
  }
  .access-icon {
    width: 253px;
    height: 56px;
  }
  .quiz-con .sec1 {
    width: 50%;
    height: 100%;
    background-color: #2fd887;
  }
  .quiz-con .sec2 {
    width: 50%;
    height: 100%;
    background-color: #a729f5;
  }
}
